.cover {
  width: 300px;
  /*position: absolute;*/
  top: 0%/*;
  left: 0*/%;
  transform: translate(-50%, -50%);
}
.image-holder{
	/*position: relative;*/
}
.main-image{
	display: 'none';
	height: 0px;
	width: 0px;
}